<section id="contact" style="margin: 50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>You can learn more about my work via my Github or get in touch with me via email. If you'd like to discuss a science outreach opportunity, please shoot me an email!</p>
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: center; gap: 50px; margin-top: 30px;">
            <div class="col-lg-2 text-center">
                <a href="mailto:metzger.astro@gmail.com" style="text-decoration: none; color: inherit;">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{metzger.astro@gmail.com}}</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://github.com/cassiemetzger" style="text-decoration: none; color: inherit;">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{cassiemetzger}}</p>
                </a>
            </div>
        </div>
    </div>
</section>
