<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Cassidy Metzger</h1>
            <hr>
            <p>Astrophysics student passionate about science outreach & education</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn more about me!</a>
            <p></p>
            <a href ="https://wustl.box.com/s/qskxdxci0avbnri8t7dq9jy20xl0kl2i" class = "btn btn-primary btn-xl page-scroll">See my CV</a>
        </div>
    </div>
</header>
