<section id="teaching" style="margin: 50px 0; padding: 20px; clear: both;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teaching, Outreach, & Diversity</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>
                {Explanation of why I do teaching and outreach}
            </p>
        </div>
    </div>
    <div class="experience-section">
        <div class="experience-content">
            <h2 class="section-subheading">My teaching experience</h2>
            <strong>Peer-Led Team Learning Leader</strong> (2022-present)
            <ul>
                <li>What I do</li>
            </ul>
            <strong>Physics 191/192 Recitation Leader</strong> (2023-present)
            <ul>
                <li>What I do</li>
            </ul>
            <strong>Washington University Student Associate (WUSA)</strong> (2022)
            <ul>
                <li>What I do</li>
            </ul>
            <strong>Physics 191/192 Summer Mentor</strong> (SU2023, SU2024)
            <ul>
                <li>What I do</li>
            </ul>
            <strong>Assistant Softball Coach</strong> (2021-2022)
            <ul>
                <li>What I do</li>
            </ul>
            <strong>Private Pitching Instructor</strong> (2019-2020)
            <ul>
                <li>What I do</li>
            </ul>

            <h2 class="section-subheading">My outreach work</h2>
            <strong>Community Outreach:</strong>
            <ul>
                <li>Claver House Volunteer (SU 2024)</li>
                <li>Physics Family Fun Day (FL 2024)</li>
                <li>5th grade class program</li>
                <li>Zone 12</li>
                <li>Speaking w/ Astronomy club</li>
            </ul>
            <strong>Campus Outreach:</strong>
            <ul>
                <li>LN Ice cream event</li>
                <li>Grad student panel</li>
                <li>Research panel</li>
                <li>Classes & Chipotle</li>
            </ul>

            <h2 class="section-subheading">Diversity & Inclusion Work</h2>
            {Discussion of DEI position and MiP mentorship stuff}
        </div>

        <div class="experience-image-zigzag">
            <img src="img/portfolio/1.jpg" alt="Teaching activity 1" class="zigzag-img odd" />
            <img src="img/portfolio/2.jpg" alt="Teaching activity 2" class="zigzag-img even" />
        </div>
    </div>

    
</section>
