<section id="writing" style="margin: 50px 0; padding: 20px; clear: both;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Writing</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>
              {blah blah you can read my work below}
            </p>
        </div>
    </div>


    <!-- Modal for Project Description -->
    <div class="modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectModalLabel">In Search of TeV-Emitting Blazars</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                   poem here 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box" data-toggle="modal" data-target="#projectModal1">
                <img src="img/portfolio/blazar.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Poem 
                        </div>
                        <div class="project-name">
                            poem title
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box" data-toggle="modal" data-target="#projectModal2">
                <img src="img/portfolio/IMBH.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            poem
                        </div>
                        <div class="project-name">
                            poem title
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="modal fade" id="projectModal2" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectModalLabel">Studying Accretion onto an Intermediate Mass Black Hole</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                    poem here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <br> <!-- Adds space after the section -->
</section>
